@import '../sprite.css';

.ck-content {
    min-height: 200px;
}

.text-brown {
    color: #8B4513;
}

.ck-button {
    cursor: pointer!important;
}

html, body {
    height: 100%;
	width: 100%;
    font-size: 100%;
	line-height: 1;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #000;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.vs__dropdown-toggle {
    height: 100%;
    cursor: pointer!important;
}
.vs__search {
    cursor: pointer;
}